# Скопировать в .env и заполнить значениями перед запуском

# Django
SECRET_KEY=django-insecure-1rj_f1($it+!-^#3b*(f#zc@&$#56ifucpnt_bt^ap+_(3v%db
DEBUG=True
# Список допустимых хостов через запятую (для продакшна)
# ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
