{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base_app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/content.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/contracts.css' %}">
    <title>Обработка</title>
</head>
<body>

<div class="container_header">
    <div id="menu-header">
        <div class="menu-header-left">
            {% if prefix %}
                <a href="{% url 'main_filial' prefix %}"><img src="{% static "base_app/images/slex-logo.png" %}" alt="SLEX"></a>
            {% else %}
                <a href="{% url 'home' %}"><img src="{% static "base_app/images/slex-logo.png" %}" alt="SLEX"></a>
            {% endif %}
        </div>
        <div class="menu-header-center">
            {% if user.is_superuser %}
                {% if title %}
                    <h2><a href="{% url 'home' %}">{{ title }}</a></h2>
                {% else %}
                    <h2><a href="{% url 'home' %}">Главная</a></h2>
                {% endif %}
            {% else %}
                {% if title %}
                    <h2>{{ title }}</h2>
                {% else %}
                    <h2>Главная</h2>
                {% endif %}
            {% endif %}
        </div>
        <div class="menu-header-right">
            {% if user.is_superuser %}
                <a href="/admin/">Сервис</a>
            {% endif %}

            {% if request.user.is_authenticated %}
                {% if user.first_name or user.last_name %}
                    <a href="{% url 'logout' %}">{{ user.get_full_name }}</a>
                {% else %}
                    <a href="{% url 'logout' %}">{{ user }}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
</div>

{% block menu %}
{% endblock %}

{% if msg %}
    <div id="header">
        <div class="basic-div">
            {% if error_msg %}
                <div class="content-error-div">{{ msg }}</div>
            {% else %}
                <div class="content-success-div">{{ msg }}</div>
            {% endif %}
        </div>
    </div>

{% endif %}

{% block content %}
{% endblock %}

{% block data_order %}
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>